:root {
  --body_font: "iransans", "BYekan", sans-serif;
  --xl_font_size: 2.25rem;
  --h1_font_size: 1.5rem;
  --h2_font_size: 1.25rem;
  --h3_font_size: 1rem;
  --md_font_size: 0.93rem;
  --sm_font_size: 0.88rem;
  --xs_font_size: 0.75rem;

  --header_height: 5rem;
  --primary_color: #5192f2;
  --secondary_color: #00a83a;
  --text_color: #404040;
  --text_secondary_color: #fff;
  --title_color: #000;
  --body_color: #ffffff;
  --container_color: #f2f5f6;
}
@media screen and (min-width: 991px) {
  :root {
    --body_font: "iransans", "BYekan", sans-serif;
    --xl_font_size: 5rem;
    --h1_font_size: 2.25rem;
    --h2_font_size: 1.5rem;
    --h3_font_size: 1.25rem;
    --md_font_size: 1rem;
    --sm_font_size: 0.8rem;
    --xs_font_size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
::before,
::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
body {
  font-family: var(--body_font);
  background: var(--body_color);
  color: var(--text_color);
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}
nav {
  width: 100%;
  height: var(--header_height);
  background: var(--primary_color);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
nav .content {
  height: 100%;
}
nav .content .logo {
  width: 30%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: capitalize;
  color: var(--text_secondary_color);
}
nav .content .logo .logoimg {
  background: #fbfefd;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
nav .content .navigation {
  width: 70%;
  height: 100%;
  float: right;
  max-width: 650px;
  display: flex;
  justify-content: right;
  color: var(--text_secondary_color);
  text-transform: capitalize;
}
nav .content .navigation .menuitem {
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
nav .content .navigation .menuitem span {
  position: absolute;
  height: 1px;
  background: var(--text_secondary_color);
  top: calc(var(--header_height) - 1px);
  left: 0;
  width: 0;
}
nav .content .navigation .active {
  border-bottom: var(--text_secondary_color) 1px solid;
}
nav .content .navigation .menuitem a {
  color: var(--text_secondary_color);
}

main .slider {
  background: var(--primary_color);
}
main .slider .slide{
  opacity: 0;
  pointer-events: none;
}
main .slider .hiddenslide{
  display: none;
}
main .slider .content {
  margin-top: var(--header_height);
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--text_secondary_color);
}
main .slider .content .textbox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .slider .content .textbox p,
main .slider .content .textbox ul {
  padding: 0;
  margin: 9px 18px;
  width: 70%;
}
main .slider .content .textbox h1 {
  color: var(--text_color);
}
main .slider .content .textbox h1 span {
  text-transform: uppercase;
  color: var(--text_secondary_color);
}
main .slider .content .textbox a {
  text-transform: capitalize;
  display: inline-block;
  color: var(--primary_color);
  padding: 6px 24px;

  margin: 9px 18px;
  background: var(--body_color);
  border-radius: 100px;
}
main .slider .paginate {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
main .slider .paginate .page {
  width: 12px;
  height: 12px;
  background: var(--body_color);
  margin: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
main .slider .paginate .page span{
  border-radius: 50%;
  background: var(--text_color);
  position: absolute;
}
main .slider .paginate .active {
  background: var(--text_color);
}

main .mainpart .head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 65px 0px;
}
main .mainpart .head h3 {
  text-align: right;
}
main .mainpart .head .divider {
  width: 3px;
  height: 65px;
  background: var(--primary_color);
  opacity: 0.8;
  margin: 0px 20px;
  border-radius: 2px;
}
main .mainpart .head p {
  flex-shrink: 2;
}
main .mainpart .mycard {
  padding: 20px;
  margin: 10px;
}
main .mainpart .blue {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(81, 146, 242, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(81, 146, 242, 0.2);
}
main .mainpart .green {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 168, 58, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 168, 58, 0.2);
}
main .mainpart .mycard .icon {
  padding: 20px;
}
main .mainpart .foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 65px 0px;
}
main .mainpart .foot h1 {
  text-transform: capitalize;
}
main .mainpart .foot h1 span {
  color: var(--primary_color);
}
main .mainpart .foot .divider {
  height: 3px;
  width: 65px;
  background: var(--primary_color);
  border-radius: 2px;
  margin: 20px 0px;
}
main .mainpart .foot p {
  text-transform: capitalize;
}

main .software {
  background: var(--container_color);
  color: var(--text_color);
}
main .subsection .content {
  margin-top: var(--header_height);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--text_secondary_color);
}
main .subsection .content .textbox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text_color);
}
main .subsection .content .textbox p,
main .subsection .content .textbox ul {
  padding: 0;
}
main .subsection .content .textbox ul {
  padding: 0;
  margin: 9px 24px;
}
main .subsection .content .textbox ul li:before {
  content: "✓ ";
  color: var(--primary_color);
}
main .subsection .content .textbox h1 {
  color: var(--text_color);
  text-transform: capitalize;
}
main .subsection .content .textbox .subtitle {
  margin-top: 10px;
  text-transform: capitalize;
}
main .subsection .content .textbox .divider {
  background: var(--primary_color);
  width: 65px;
  height: 3px;
  border-radius: 2px;
  margin: 8px 0px 14px 0px;
}
main .subsection .content .textbox a {
  text-transform: capitalize;
  display: inline-block;
  color: var(--text_secondary_color);
  padding: 6px 24px;

  margin: 9px 24px;
  background: var(--primary_color);
  border-radius: 100px;
}

main .features {
  background: var(--body_color);
  color: var(--text_color);
}
main .subsection .content {
  margin-top: var(--header_height);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--text_secondary_color);
}
main .subsection .content .textbox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text_color);
}
main .subsection .content .textbox p,
main .subsection .content .textbox ul {
  padding: 0;
}
main .subsection .content .textbox ul {
  padding: 0;
  margin: 9px 24px;
}
main .subsection .content .textbox ul li:before {
  content: "✓ ";
  color: var(--primary_color);
}
main .subsection .content .textbox h1 {
  color: var(--text_color);
  text-transform: capitalize;
}
main .subsection .content .textbox .subtitle {
  margin-top: 10px;
  text-transform: capitalize;
}
main .subsection .content .textbox .divider {
  background: var(--primary_color);
  width: 65px;
  height: 3px;
  border-radius: 2px;
  margin: 8px 0px 14px 0px;
}
main .subsection .content .textbox a {
  text-transform: capitalize;
  display: inline-block;
  color: var(--text_secondary_color);
  padding: 6px 24px;

  margin: 9px 24px;
  background: var(--primary_color);
  border-radius: 100px;
}

main .blogs {
  padding-bottom: 8rem;
}
main .blogs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 65px 0px;
}
main .blogs .title h1 {
  text-transform: capitalize;
}
main .blogs .title h1 span {
  color: var(--primary_color);
}
main .blogs .title .divider {
  height: 3px;
  width: 65px;
  background: var(--primary_color);
  border-radius: 2px;
  margin: 20px 0px;
}
main .blogs .title p {
  text-transform: capitalize;
}
main .blogs .blogcards {
  display: flex;
  justify-content: space-around;
}
main .blogs .blogcards .author {
  display: inline;
}
main .blogs .blogcards .author::before {
  content: "👤 ";
  color: var(--primary_color);
}
main .blogs .blogcards .date {
  display: inline;
  text-transform: capitalize;
}
main .blogs .blogcards .date::before {
  content: "🗓 ";
  color: var(--primary_color);
}
main .blogs .blogcards .card-title {
  text-transform: capitalize;
  margin-top: 0.6rem;
}
main .blogs .blogcards .button {
  display: block;
  margin-top: 0.6rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--primary_color);
  text-transform: capitalize;
}

footer .getinthouch .map {
  width: 100%;
  position: relative;
}
footer .getinthouch .map .googlemap {
  background-image: url("../images/map.png");
  width: 100%;
  height: 400px;
  filter: grayscale(1);
  background-position: center;
  background-size: cover;
}
footer .getinthouch .map .formbox {
  position: absolute;
  height: 100%;
  top: 2rem;
  right: calc(20% + 5rem);
  background: var(--body_color);
  padding: 1.5rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
footer .getinthouch .map .formbox input,
footer .getinthouch .map .formbox textarea {
  margin-top: 1rem;
  text-transform: capitalize;
  resize: none;
}
footer .getinthouch .map .formbox .button {
  position: absolute;
  bottom: 1.5rem;
  text-transform: capitalize;
  display: inline-block;
  color: var(--text_secondary_color);
  padding: 6px 24px;
  border: none;
  outline: none;
  background: var(--primary_color);
  border-radius: 100px;
}
footer .getinthouch .contact{
  padding: 8rem 0 4rem 0;
}
footer .getinthouch .contact .addressbox{
  display: flex;
  padding: 2rem;
}
footer .getinthouch .contact .icon{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--container_color);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--primary_color);
}
footer .getinthouch .contact .text{
  padding-left: .8rem;
  text-transform: capitalize;
}

footer .newsletter .head {
  text-align: center;
}
footer .newsletter .head h3 {
  text-align: center;
  margin-bottom: .5rem;
  text-transform: capitalize;
}
footer .newsletter .tail {
  padding: 3rem 0;
}
footer .newsletter .tail .iconbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .newsletter .tail .iconbar .icon{
  width: 3rem;
  height: 3rem;
  margin: 0.4rem;
  border-radius: 50%;
  border: 1px var(--text_color) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--text_color);
}
footer .newsletter .tail .inputbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .newsletter .tail .inputbar .email {
  border-radius: 50px;
  padding: 0.8rem;
  background: var(--container_color);
}
footer .newsletter .tail .inputbar .mybtn {
  border-radius: 50px;
  background: var(--primary_color);
  color: var(--text_secondary_color);
  border: none;
  width: 25%;
  justify-content: center;
  cursor: pointer;
}
footer .newsletter .tail .inputbar .mybtn a{
  background: var(--primary_color);
  color: var(--text_secondary_color);
  object-fit: cover;
}

footer .copyright{
  width: 100%;
  background: var(--container_color);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright .copy{
  padding: 2rem;
  text-transform: capitalize;
}
footer .copyright .develop{
  padding: 2rem;
}